/* Edit button style */
.btn-edit {
    border: none;
    background: #42e695;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
h3 {
    color: #42e695;
    text-shadow: 0 0 5px rgba(66, 230, 149, 0.7);
}
.btn-edit:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #42e695;
}

/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 34, 34, 0.6);
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    z-index: 1000;
}
/* Modal content */
.modal-content {
    background: #113a4e;
    padding: 100px;
    border-radius: 12px;
    width: 800px;
    max-width: 800px;

    text-align: center;
    box-shadow: 0 5px 20px rgba(0,255,180,0.3);
}

/* Input */
/* Input - bigger version */
.modal-input {
    width: 100%;              
    height: 150px;            
    padding: 20px;
    border-radius: 12px;
    border: none;
    margin: 20px 0;
    font-size: 20px;
    outline: none;
    background: #121212;   /* dark background */
    color: #fff;           /* white text */
    box-shadow: inset 0 0 12px rgba(0,255,180,0.3);
}

/* Buttons */
.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-save {
    flex: 1;
    background: #42e695;
    border: none;
    padding: 10px 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-save:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #42e695;
}

.btn-cancel {
    flex: 1;
    background: #ff6e6e;
    border: none;
    padding: 10px 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-cancel:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ff6e6e;
}
