/* Container H1 */
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #300a22b5;
  text-align: center;
  /* text-shadow: 2px 2px 8px #de2fc7, 0 0 10px #090307; */
  letter-spacing: 2px;
}

/* Form Container */
.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

/* Input Box */
.todo-input {
  flex: 1;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #1e1e2f;
  color: #ffffff;
  box-shadow: inset 0 0 10px #00ffe1;
  transition: all 0.3s ease;
}

.todo-input::placeholder {
  color: #aaa;
}

.todo-input:focus {
  box-shadow: 0 0 20px #00ffe1, inset 0 0 5px #00ffb3;
  background: #121212;
}

/* Button */
.todo-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(90deg, #54153b, #080719, #24ac68);
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 12px rgba(255,255,255,0.3);
}

.todo-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00ffe1, 0 0 20px #ff6ec4;
}

/* Responsive for Mobile */
@media (max-width: 768px) {
  .todo-form {
    flex-direction: column;
  }

  .todo-btn {
    width: 100%;
  }
}
